<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <p>Cantidad {{ myonAddToshoCard.length }}</p>
    <p>Total $ {{ total }}</p>
    <div class="products--grid">
        <app-product 
        [product]="product"
        *ngFor="let product of products"
        (addedProduct)="onAddToshoCard($event)"
         ></app-product>
    </div>
</body>

</html>