<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>

<body>
    <p>Cantidad {{ myonAddToshoCard.length }}</p>
    <p>Total $ {{ total }}</p>
    <p>Today: {{ today | date: 'short' }}</p>
    <p>Pasado {{ date | timeAgo }}</p>

    <button (click)="createNewProduct()">create</button>

    <div class="products--grid">
        <app-product 
        [product]="product"
        *ngFor="let product of products"
        (addedProduct)="onAddToshoCard($event)"
        (showProductDetail)="onshowDetail($event)"
         ></app-product>
    </div>

    <div class="product-detail" [class.active]="showProductDetail">
        <div *ngIf="productChosen">
            <button (click)="toggleProductdetail()">Close</button>
            <h2>{{ productChosen.title }}</h2>
            <h3>{{ productChosen.id}}</h3>

            <swiper
                [slidesPerView]="3"
                [spaceBetween]="40"
                >
                <ng-template swiperSlide *ngFor="let img of productChosen.images">
                    <img [src]="img" alt="">
                </ng-template>
             </swiper>

            <p>{{ productChosen.description}}</p>
            <button (click)="updateProduct()">Editar</button>
            <button (click)="deleteProduct()">Delete</button>
        </div>
    </div>
</body>

</html>