<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <app-img class="app-img" *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
    <h2>{{ product.id }}</h2>
    <h3>{{ product.title | uppercase }}</h3>
    <h4>{{ product.price | currency: 'MXN' }}</h4>
    <!-- <p appHighlight>{{ product.description | mypipe: 'by isac' }}</p>
    <p appHighlight>{{ product.category }}</p> -->
    <button (click)="onShowDetail()">Details</button>
    <button (click)="onAddToCard()">Add cart</button>
</body>
</html>
