<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
    <h2>{{ product.price | currency:'COP' }}</h2>
    <p>{{ product.title }}</p>
    <p>{{ product?.taxes | currency:'COP'}}</p>
    <button (click)="onShowDetail()">Ver detalle</button>
    <button (click)="onAddToCart()">Add cart</button>
</body>
</html>
